<h1>Welcome to <%= @sub.title %>!</h1>

<p><%= @sub.description %></p>
<% if current_user == @sub.mod_id %>
  <%= link_to "Edit Sub", edit_sub_url(@sub) %>
<% end %>

<% @sub.posts.each do |post| %>
  <% if post.url.empty? %>
    <%= link_to post.title, post_url(post) %>
  <% else %>
    <%= link_to post.title, "http://#{http_trimmer(post.url)}" %>
  <% end %><br>

  By <%= post.author.username %><br><br>
<% end %>
