<b><ins><%= link_to album.name.capitalize, album_url(album) %></ins></b>
<small><%= link_to "Edit", edit_album_url(album) %></small>

<% unless request.original_url == band_url(album.band) %>
<li><b>Band: </b><%= link_to album.band.name.capitalize, band_url(album.band) %></li>
<li><b>Type of Album: </b> <%= album.type_album %></li>
<% end %>
<br>

<%= button_to "Delete", album_url, method: :delete if request.original_url == album_url(album) %>
