<form id="create" action= <%= yield :url %> method="post">


  <%= yield :form %>

  <% if model_object.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value= "<%= button[:edit] %>">
  <% else %>
    <input type="submit" value= "<%= button[:create] %>">
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>

<% if flash[:errors] %>
  <p style="color:red">
    <% flash[:errors].each do |error| %>
      <%= error %> <br>
    <% end %>
  </p>
<% end %>
