<b><ins>Track #<%= track.id %>: <%= link_to track.name.capitalize, track_url(track) %></ins></b>
<small><%= link_to "Edit", edit_track_url(track) %></small>

<% unless request.original_url == band_url(track.band) || request.original_url == album_url(track.album) %>
<li><b>Band: </b><%= link_to track.band.name.capitalize, band_url(track.band) %></li>
<li><b>Album: </b><%= link_to track.album.name.capitalize, album_url(track.album) %></li>
<li><b>Type of Track: </b> <%= track.type_track %></li>
<% end %>
<br>

<%= button_to "Delete", track_url, method: :delete if request.original_url == track_url(track) %>
