<!DOCTYPE html>
<html>
<head>
  <title>MusicApp: <%= yield :heading %></title>
  <%= csrf_meta_tags %>
  <% if current_user.nil? %>
    <%= link_to "Login", new_session_url %> |
    <%= link_to "Create New User", new_user_url %>
  <% else %>
    <div style="float: left; width: auto;">
      <%= link_to "All Bands", bands_url %> <i><small><%= link_to "New", new_band_url %></small></i> |
      <%= link_to "All Albums", albums_url %> <i><small><%= link_to "New", new_album_url %></small></i> |
      <%= link_to "All Tracks", tracks_url %> <i><small><%= link_to "New", new_track_url %></small></i> |
      <%= link_to "All Notes", notes_url %> <i><small><%= link_to "New", new_note_url %></small></i>
    </div>
    <div style="float: right; width: auto;"><%= link_to "#{current_user.email}'s Profile", user_url(current_user) %>   <%= button_to "Logout", session_url, method: :delete %></div>
    <br>
  <% end %>
</head>
<body>
<h1><%= yield :heading %></h1>

<%= yield %>

</body>
</html>
