<% content_for :form do %>
<table>
  <tr>
    <td>
      <label for="name">Album Name: </label>
    </td>
    <td>
      <input type="string" name="album[name]" id: "name" value= <%= album.name %>>
    </td>
  </tr>

  <tr>
    <td>
      <label for="band">Authoring Band: </label>
    </td>
    <td>
      <select id="band" name="album[band_id]">
        <option> Choose a Band </option>
        <% Band.all.order(:name).each do |band| %>
        <% selected = band.id == album.band_id ? "selected" : "" %>
        <option value = <%= band.id %> <%= selected %>> <%= band.name %> </option>
        <% end %>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      <label for="type_album">Album Type</label>
    </td>
    <td>
      <% ["regular", "bonus"].each do |type| %>
        <% checked = album.type_album == type ? "checked" : "" %>
        <label for="type_album_answer">
          <input type="radio" name="album[type_album]" id: "type_album_answer" value= <%= type %> <%= checked %>>
          <%= type.capitalize %>
        </label>
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<%= render "layouts/form",
    model_object: album,
    button: {edit: "Edit Album", create: "Create New Album"}
%>
