<%= link_to 'See all cats', cats_url %> | <%= link_to "Request Cat", new_cat_rental_request_url %>
<h1>Cat Rental Request #<%= @cat_rental_request.id %></h1>

<table>
  <tr>
    <td>
      Start Date
    </td>
    <td>
      <%= @cat_rental_request.start_date %>
    </td>
  </tr>
  <tr>
    <td>
      End Date:
    </td>
    <td>
      <%= @cat_rental_request.end_date %>
    </td>
  </tr>
  <tr>
    <td>
      Status:
    </td>
    <td>
      <%= @cat_rental_request.status %>
    </td>
  </tr>

</table>
