<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<% if current_user %>
  Hello <%= current_user.username %>
  <%= button_to "Logout", session_url, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
