<% content_for :form do %>
<table>
  <tr>
    <td>
      <% if request.original_url == new_note_url || request.original_url == notes_url  %>
        <label for="note">Note Contents: </label>
      <% end %>
    </td>
    <td>
      <textarea name="note[note]" id: "note"><%= note.note %></textarea>
    </td>
  </tr>

<% if request.original_url == new_note_url || request.original_url == notes_url %>
  <tr>
    <td>
      <label for="track">Track: </label>
    </td>
    <td>
      <select id="track" name="note[track_id]">
        <option> Choose a Track </option>
        <% Track.all.order(:album_id, :name).each do |track| %>
        <% selected = track.id == note.track_id ? "selected" : "" %>
        <option value = "<%= track.id %>" <%= selected %>> <%= "#{track.name} by #{track.band.name}" %> </option>
        <% end %>
      </select>
    </td>
  </tr>
<% elsif params[:controller] == "tracks" %>
  <input type="hidden" name="note[track_id]" value="<%= note.track_id %>">
<% end %>

</table>
<% end %>

<%= render "layouts/form",
    model_object: note,
    button: {edit: "Edit Note", create: "Create New Note"}
%>
