<%= link_to 'See All Cats', cats_url %> | <%= link_to "Request Cat", new_cat_rental_request_url %>
<h1>Listing Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat) %></li>
    <ul>
      <li><%= "Color: #{cat.color}" %></li>
      <li><%= "Age: #{cat.age}" %></li>
      <li><%= "Gender: #{cat.sex}" %></li>
      <% unless cat.description.nil? %>
        <% unless cat.description.empty? %>
          <li><%= "#{cat.description}" %></li>
        <% end %>
      <% end %>
      <%= link_to "Edit Cat", edit_cat_url(cat) %>
    </ul>
  <% end %>
</ul>

<%= link_to 'Create New Cat', new_cat_url %>
