<form id="sub" action="<%= url %>" method="post">
  <% if sub.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <table>
    <tr>
      <td><label for="title">Title: </label>
      </td>
      <td><input type="string" name="sub[title]" id: 'title' value="<%= sub.title %>"><br>
      </td>
    </tr>
    <tr>
      <td><label for="description">Description: </label>
      </td>
      <td><textarea name="sub[description]" rows="8" cols="40"><%= sub.description %></textarea>
      </td>
    </tr>
  </table>

  <input type="submit" value="<%= button %>">
</form>
