<h2>Cat Rental Request form!</h2>

<% if @cat_rental_request.persisted? %>
<form action = <%= cat_rental_request_url(@cat_rental_request) %> method="post">
<% else %>
<form action = <%= cat_rental_requests_url %> method="post">
<% end %>
  <!-- label's `for` attribute connects with the input's `id` attribute-->
  <label for="cat_id">Cat ID</label>
  <!-- input name `cat_rental_request[name]` means that Rails will nest the `name` attribute
  inside a `cat_rental_request` hash: `{ :cat_rental_request => { :name => "gizmo" } }` -->
  <input name="cat_rental_request[cat_id]" id="cat_id" type="text" value = <%= @cat_rental_request.cat_id %>>
  <br>

  <label for="start_date">Rental Start Date</label>
  <input name="cat_rental_request[start_date]" id="start_date" type="date" value = <%= @cat_rental_request.start_date %>>
  <br>
  <label for="end_date">Rental End Date</label>
  <input name="cat_rental_request[end_date]" id="end_date" type="date" value = <%= @cat_rental_request.end_date %>>
  <br>


  <% if @cat_rental_request.persisted? %>
  <input type='hidden' name='_method' value='PATCH'>
  <% end %>

  <input type="submit" value="Submit my Cat Rental Request!">

  <% if flash[:errors] %>
    <p style="color:red">
      <% flash[:errors].each do |error| %>
        <%= error %><br>
      <% end %>
    </p>
  <% end %>

</form>
