<%= link_to 'See All Cats', cats_url %> | <%= link_to "Request Cat", new_cat_rental_request_url %>
<h1>Listing Cat Rental Requests</h1>

<ul>
  <% @cat_rental_requests.each do |rental_request| %>
  <li><%= link_to rental_request.id, cat_rental_request_url(rental_request) %></li>
  <ul>
    <li><%= "Cat ID: #{rental_request.cat_id}" %></li>
    <li><%= "Start Date: #{rental_request.start_date}" %></li>
    <li><%= "End Date: #{rental_request.end_date}" %></li>
    <li><%= "Status: #{rental_request.status}" %></li>
  </ul>
  <% end %>
</ul>
