<% content_for :form do %>
<table>
  <tr>
    <td>
      <label for="name">Track Name: </label>
    </td>
    <td>
      <input type="string" name="track[name]" id: "name" value= "<%= track.name %>">
    </td>
  </tr>

  <tr>
    <td>
      <label for="album">Album: </label>
    </td>
    <td>
      <select id="album" name="track[album_id]">
        <option> Choose an Album </option>
        <% Album.all.order(:name).each do |album| %>
        <% selected = album.id == track.album_id ? "selected" : "" %>
        <option value = "<%= album.id %>" <%= selected %>> <%= album.name %> </option>
        <% end %>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      <label for="type_track">Track Type</label>
    </td>
    <td>
      <% ["regular", "bonus"].each do |type| %>
        <% checked = track.type_track == type ? "checked" : "" %>
        <label for="type_track_answer">
          <input type="radio" name="track[type_track]" id: "type_track_answer" value= "<%= type %>" <%= checked %>>
          <%= type.capitalize %>
        </label>
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<%= render "layouts/form",
    model_object: track,
    button: {edit: "Edit Track", create: "Create New Track"}
%>
