<% content_for :heading do %>
Details for <%= @track.name %>
<% end %>

<%= render "layouts/track", track: @track %>

<h3>Notes</h3>
<% @track.notes.order(:updated_at).each do |note|%>
  <%= render "layouts/note", note: note %>
<% end %>

<% content_for :url do %>
<%= notes_url %>
<% end %>

<% @note = Note.new(track_id: @track.id) %>
<%= render "notes/form", note: @note %>
