<h2>Cat form!</h2>

<% if @cat.persisted? %>
<form action = <%= cat_url(@cat) %> method="post">
<% else %>
<form action = <%= cats_url %> method="post">
<% end %>
  <!-- label's `for` attribute connects with the input's `id` attribute-->
  <label for="cat_name">Name</label>
  <!-- input name `cat[name]` means that Rails will nest the `name` attribute
  inside a `cat` hash: `{ :cat => { :name => "gizmo" } }` -->
  <input name="cat[name]" id="cat_name" type="text" value = <%= @cat.name %>>
  <br>

  <label for="cat_birth_date">Birthdate</label>
  <input name="cat[birth_date]" id="cat_age" type="date" value = <%= @cat.birth_date %>>
  <br>

  <!-- this label isn't for anything specific -->
  <label>Sex</label>
  <div>
    <!-- note that both radio buttons have the name `cat[sex]`; that's how
    they are related -->
    <% ["M", "F"].each do |sex| %>
    <% checked = @cat.sex == sex ? "checked" : ""%>
    <label for="cat_sex">
      <input name="cat[sex]" type="radio" value = "<%= sex %>" <%= checked %> >
      <%= sex %></label>
      <% end %>
    </div>
    <br>

  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id="cat_description" value = @cat.description></textarea>
  <br>

  <label for="cat_color">Coat color</label>
  <!-- dropdown -->

  <select name="cat[color]">
    <!-- `brown` is the value that will be submitted to the server; user is
    displayed "Brown" as the choice -->
    <% %w(choose black brown white grey ginger calico).each do |color| %>
      <% selected = @cat.color == color ? "selected" : ""%>
      <option value = "<%= color %>" <%= selected %>> <%= color %> </option>
    <% end %>
  </select>
  <br>

  <% if @cat.persisted? %>
  <input type='hidden' name='_method' value='PATCH'>
  <% end %>

  <input type="submit" value="Submit my cat!">

  <% if flash[:errors] %>
  <p style="color:red">
  <% flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
  </p>
  <% end %>

</form>
