<!-- app/views/cats/show.html.erb -->
<%= link_to 'See All Cats', cats_url %> | <%= link_to "Request Cat", new_cat_rental_request_url(cat_id: @cat.id) %>
<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>
      Color:
    </td>
    <td>
      <%= @cat.color %>
    </td>
  </tr>
  <tr>
    <td>
      Age:
    </td>
    <td>
      <%= @cat.age %>
    </td>
  </tr>
  <tr>
    <td>
      Gender:
    </td>
    <td>
      <%= @cat.sex %>
    </td>
  </tr>
  <tr>
    <td>
      About me:
    </td>
    <td>
      <%= @cat.description %>
    </td>
  </tr>
</table>

<h2>My Rental Requests:</h2>

<% @cat_rental_requests.order(:start_date, :end_date).each do |rental_request| %>
<%= link_to "Request ##{rental_request.id}", cat_rental_request_url(rental_request) %></li>
<ul>
  <li><%= "Start Date: #{rental_request.start_date}" %></li>
  <li><%= "End Date: #{rental_request.end_date}" %></li>
  <%= "Status: #{rental_request.status}" %>
  <% if  rental_request.status == "PENDING" %>
    <%= button_to "Approve Request", approve_cat_rental_request_url(rental_request), method: :approve %>
    <%= button_to "Reject Request", deny_cat_rental_request_url(rental_request), method: :deny %>
  <% end %>
</ul>
<% end %>
