<form id="Link" action= <%= url %> method="post">

  <label>Title
    <input type="text" name="link[title]" value="<%= link.title %>">
  </label>

  <label>URL
    <input type="text" name="link[url]" value="<%= link.url %>">
  </label>

  <% if link.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value= "<%= submit_button %>">
</form>
